<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zhuinden.singleactivityinstantappexample.dogs"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".DogActivity">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="zhuinden.github.io"
                    android:pathPattern="/dogs"
                    android:scheme="https"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>